
<html>
    <head>

    </head>
    <style>
        .container{
            margin-left: 3cm;
            margin-top:3cm;
        }
    </style>
    <body>
        <div class="container">
        <div class="updates">
            <form method=post>
                <h1>UPDATES</h1>
                <input required type="text" name='url' placeholder='url' >
                <input required type="text" name='url2' placeholder='url2' ><br><br>
                <input required type="text" name='news' placeholder="news">
                <!-- Date too -->
                <button name='post' value='updates' >POST</button>
            </form>
        </div><hr>
        <div class="playerdata">
            <h1>SIGN PLAYER</h1>
            <form method="post">
                <input required name='name' placeholder='Player name' type="text">
                <input required name='age' placeholder='age' type="number">
                <label  for="role">role</label>
                <select required name="role" id="role">
                    <option value="Goal Keeper">GK</option>
                    <option value="Defender">defender</option>
                    <option value="Midfielder">Midfielder</option>
                    <option value="Attack">Attacker</option>
                </select><br><br>
                <input required name='team' placeholder="team/class" type="text">
                <input required name='house' placeholder="house" type="text">
                <input required name='worth' placeholder='$ worth' type="number"><br><br>
                <label for="points">points</label><input id='points' required name='points' placeholder='0 points' value='0' type="number">
                <button value='playerdata' name='post' >SIGN</button>
            </form>
        </div><hr>
        <h1>RESULTS</h1>
        <form method="post">
            <div class="fixtures">
                <label for="">game 1</label> <input placeholder='team1' name='team1' type="text"> <input type="number" placeholder='Score1' name="score1"><br>______ <input placeholder='team2' name='team2' type="text"> <input type="number" placeholder='Score2' name="score2"><br><br><br>

                <button name='post' value='results' >Post</button>
            </div>
        </form>
        <h1>UPDATE PLAYER SCORES</h1>
        <form method="post">
            <select name="player">
                {%for player in players%}
                <option value="{{player}}">{{player}}</option>
                {%endfor%}
            </select>
            <label for="points"></label>
            <input type="number" name='points' placeholder='points' value='0' >
            <button name='post' value='submit' >SUBMIT</button>
        </form>

        
        </div>
    </body>
</html>