
<html>

<style>
.field{

text-align:center;
margin-top:20%;
}
.subs{
float:right;
margin-right:5%;
}
.team input:
</style>


<body>



<div class='team'>
<div class='field'>

<div class='attack'>
<input type='radio' name='select' id='player2' value='player2'  ><label for='player2'>Player2</label>
<input type='radio' name='select' id='player3' value='player3' ><label for='player3'>Player3</label>
<input type='radio' name='select' id='player4' value='player4' ><label for='player4'>Player4</label>
</div>
<br>
<div class='mid'>   
<input type='radio' name='select'  id='player5' value='player5' ><label for='player5'>Player5</label>
<input type='radio' name='select'  id='player6' value='player6' ><label for='player6'>Player6</label>
<input type='radio' name='select'  id='player7' value='player7' ><label for='player7'>Player7</label>
</div>
<br>
<div class='def'>
<input type='radio' name='select'  id='player8' value='player8' ><label for='player8'>Player8</label>
<input type='radio' name='select'  id='player9' value='player9' ><label for='player9'>Player9</label>
<input type='radio' name='select'  id='player10' value='player10' ><label for='player10'>Player10</label>
<input type='radio' name='select'  id='player11' value='player11'  ><label for='player11'>Player11</label>
</div>
<br>
<div class='gk'>
<input type='radio' name='select'  id='player1'  ><label for='player1'>Player1</label>
</div>
</div><br><br>
<div class='subs'>
<input type='radio' name='select'  id='sub1'  ><label for='sub1'>sub1</label><br>
<input type='radio' name='select'  id='sub2'  ><label for='sub2'>sub2</label> <br>
<input type='radio' name='select'  id='sub3'  ><label for='sub3'>sub3</label> <br>
<input type='radio' name='select'  id='sub4'  ><label for='sub4'>sub4</label> <br>
<input type='radio' name='select'  id='sub5'  ><label for='sub5'>sub5</label> <br>
</div>
</div>

</body>